@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400700&display=swap')

// Breakpoints
phone= 480px
tablet= 768px
pc= 1080px

* 
  box-sizing border-box


body 
  background-color #686de0
  font-family 'Roboto', sans-serif
  display flex
  flex-flow column wrap
  align-items center
  justify-content center
  height 100svh
  overflow hidden
  margin 0

